#include <cstdint>

{% for const in app.consts() %}
extern {{const.typ}} {{const.ptr}}{% if const.dim > 1 %}[{{const.dim}}]{% endif %};
{% endfor %}

{% for const in app.consts() %}
static {% if const.dim > 1 %}__device__{% else %}__constant__{% endif %} {{const.typ}} op2_const_{{const.ptr}}_d{% if const.dim > 1 %}[{{const.dim}}]{% endif %};
{% endfor %}

{% for const in app.consts() %}
static uint64_t  op2_const_{{const.ptr}}_hash = 0;
{% endfor %}

#define INCBIN_STYLE INCBIN_STYLE_SNAKE
#define INCBIN_PREFIX
#include <extern/incbin.h>

{% set tag = range(1000000000, 9999999999) | random %}

#define OP_F2C_PRELUDE OP_F2C_PRELUDE_{{tag}}
#define OP_F2C_PARAMS OP_F2C_PARAMS_{{tag}}

#define OP_F2C_PRELUDE_DATA OP_F2C_PRELUDE_{{tag}}_data
#define OP_F2C_PARAMS_DATA OP_F2C_PARAMS_{{tag}}_data

INCTXT(OP_F2C_PRELUDE, "op_f2c_prelude.h");
INCTXT(OP_F2C_PARAMS, "op2_const_list_params.h");

#include <op_f2c_prelude.h>
#include <op_f2c_helpers.h>

#include <op_lib_cpp.h>
#include <op_timing2.h>

#include <cstdint>
#include <cmath>
#include <cstdio>

namespace f2c = op::f2c;

void op_decl_const_char(int dim, const char *type, int size, char *dat, const char *name) {
    // Unused with JIT
}

extern "C" {

void prepareDeviceGbls(op_arg *args, int nargs, int max_threads);
bool processDeviceGbls(op_arg *args, int nargs, int nthreads, int max_threads);
int getBlockLimit(op_arg *args, int nargs, int block_size, const char *name);
void setGblIncAtomic(bool enable);

}

{% for loop_, _ in app.loops() if not fallback_loops[loop_.name] %}
#include "{{loop_.name}}_kernel.h"
{% endfor %}
