# Compilation artifacts
*.o
*.lo
*.mod
*.d
*.optrpt

# Compiled libraries
*.so
*.a

# Python artifacts
*.pyc

# Miscellaneous
*~
*.swp

# VSCode Stuff
tasks.json
c_cpp_properties.json
launch.json
.vscode/

.build_env.sh

# Emacs temporary files
*#*#*

# GPI temporary files
*.gpi2.*

# Make artifacts
op2/log.txt

