{# utils.jinja #}

{% macro calculate_bytes_moved(lh) %}
int64_t bytes_moved = 0;
{% if lh is direct %}
    {% for arg in lh.args_expanded|reject("gbl")|reject("info") %}
bytes_moved += (int64_t)n_exec * {{lh.dat(arg).dim}} * {{lh.dat(arg).typ.size // 8}}{{ " * 2" if not arg is read }};
    {% endfor %}
{% else %}
    {% set ns = namespace(dats=[]) %}
    {% for arg in lh.args_expanded %}
        {% if arg is not gbl and arg.dat_id not in ns.dats %}
            {% set ns.dats = ns.dats + [arg.dat_id] %}
            {% if arg.map_id is not none %}
bytes_moved += (int64_t)arg{{arg.id}}.dat->set->size * {{lh.dat(arg).dim}} * {{lh.dat(arg).typ.size // 8}}{{ " * 2" if not arg is read }};
            {% else %}
bytes_moved += (int64_t)n_exec * {{lh.dat(arg).dim}} * {{lh.dat(arg).typ.size // 8}}{{ " * 2" if not arg is read }};
            {% endif %}
        {% endif %}
    {% endfor %}
    {% set ns = namespace(maps=[]) %}
    {% for arg in lh.args_expanded %}
        {% if arg is dat and arg.map_id is not none and arg.map_id not in ns.maps %}
            {% set ns.maps = ns.maps + [arg.map_id] %}
bytes_moved += (int64_t)n_exec * arg{{arg.id}}.map->dim * sizeof(int);
        {% endif %}
    {% endfor %}
{% endif %}
op_profile_bytes_moved(bytes_moved);
{% endmacro %}