#include <op_lib_cpp.h>
#include <op_profile.h>
#include <op_cuda_rt_support.h>

#include <cstdint>
#include <cmath>
#include <cstdio>

namespace op2_k{{kernel_idx}} {
{{kernel_func}}
}

__global__ void op_cuda_scatter_{{lh.name}}(
    {{lh.data_buff.typ.c()}} *__restrict data_buff,
    const int *__restrict map_buff,
    int data_dim,
    int map_dim,
    int count,
    {% for dat in lh.dats %}
    {{dat.typ.c()}} *__restrict dat{{dat.id}},
    {% endfor %}
    {% for arg in lh.args|gbl %}
    {{arg.typ.c()}} *gbl{{arg.id}},
    {% endfor %}
    {% for arg in lh.args|info %}
    {{arg.typ.c()}} *info{{arg.id}},
    {% endfor %}
    int sentinel
) {
    int n = threadIdx.x + blockIdx.x * blockDim.x;
    if (n >= count)
        return;

    {{lh.data_buff.typ.c()}} *scatter_data = data_buff + n * data_dim;
    const int *scatter_map = map_buff + n * map_dim;

    op2_k{{kernel_idx}}::{{lh.kernel}}(
        scatter_data{{"," if lh.args|length > 0}}
{% for arg in lh.args %}
    {%- if arg is dat %}
        dat{{arg.dat_id}} + scatter_map[{{arg.map_idx if arg.map_idx is not none and arg.map_idx >= 0 else 0}}] * {{lh.dat(arg).dim}}
    {%- elif arg is gbl %}
        gbl{{arg.id}}
    {%- elif arg is info %}
        info{{arg.id}}
    {%- elif arg is idx %}
        (int *)&scatter_map[{{arg.map_idx if arg.map_idx is not none and arg.map_idx >= 0 else 0}}]
    {%- endif -%}
    {{"," if not loop.last}}
{% endfor %}
    );
}

void op_par_scatter_{{lh.name}}(
    op_buff data_buff,
    op_buff map_buff,
    const char* name,
{% for arg in lh.args %}
    op_arg arg{{arg.id}}{{"," if not loop.last}}
{% endfor %}
) {
    double cpu_start, cpu_end, wall_start, wall_end;
    op_timing_realloc({{kernel_idx}});

    OP_kernels[{{kernel_idx}}].name = name;
    OP_kernels[{{kernel_idx}}].count += 1;

    op_timers_core(&cpu_start, &wall_start);

    if (data_buff->dirty_hd == 1)
        op_upload_buff(data_buff);
    if (map_buff->dirty_hd == 1)
        op_upload_buff(map_buff);

{% for arg in lh.args|dat|read %}
    if (arg{{arg.id}}.dat->dirty_hd == 1)
        op_upload_dat(arg{{arg.id}}.dat);
{% endfor %}
{% for arg in lh.args|gbl %}
    char *gbl{{arg.id}}_d = NULL;
    op_cpHostToDevice((void **)&gbl{{arg.id}}_d, (void **)&arg{{arg.id}}.data,
                      (size_t)arg{{arg.id}}.size);
{% endfor %}

    op_profile_enter_kernel(name, "{{config.target}}", "Scatter");
    op_profile_enter("Computation");

#ifdef OP_BLOCK_SIZE_{{kernel_idx}}
    int block_size = OP_BLOCK_SIZE_{{kernel_idx}};
#else
    int block_size = OP_block_size;
#endif
    int num_blocks = (data_buff->count - 1) / block_size + 1;

    op_cuda_scatter_{{lh.name}}<<<num_blocks, block_size>>>(
        ({{lh.data_buff.typ.c()}} *)data_buff->data_d,
        (const int *)map_buff->data_d,
        data_buff->dim,
        map_buff->dim,
        data_buff->count,
{% for dat in lh.dats %}
        ({{dat.typ.c()}} *)arg{{dat.arg_id}}.data_d,
{% endfor %}
{% for arg in lh.args|gbl %}
        ({{arg.typ.c()}} *)gbl{{arg.id}}_d,
{% endfor %}
{% for arg in lh.args|info %}
        ({{arg.typ.c()}} *)arg{{arg.id}}.data,
{% endfor %}
        0
    );
    cutilSafeCall(cudaDeviceSynchronize());

{% for arg in lh.args|gbl if arg is write or arg is read_write %}
    cutilSafeCall(gpuMemcpy(arg{{arg.id}}.data, gbl{{arg.id}}_d,
                            (size_t)arg{{arg.id}}.size,
                            gpuMemcpyDeviceToHost));
{% endfor %}
{% for arg in lh.args|gbl %}
    cutilSafeCall(gpuFree(gbl{{arg.id}}_d));
{% endfor %}

{% for arg in lh.args|dat|reject("read") %}
    arg{{arg.id}}.dat->dirty_hd = 2;
{% endfor %}

    op_profile_exit();

    op_timers_core(&cpu_end, &wall_end);
    OP_kernels[{{kernel_idx}}].time += wall_end - wall_start;
}
