{%- macro arg_to_pointer(arg, rank1_as_scalar=false) -%}
    {%- if arg is gbl -%}
gbl{{arg.id}}
    {%- elif arg is direct -%}
dat{{arg.dat_id}}({{"1" if lh.dat(arg).dim == 1 and rank1_as_scalar else ":"}}, n + 1)
    {%- else -%}
dat{{arg.dat_id}}({{"1" if lh.dat(arg).dim == 1 and rank1_as_scalar else ":"-}}
                    , map{{arg.map_id}}({{arg.map_idx}}, n + 1) + 1)
    {%- endif -%}
{%- endmacro -%}

{%- macro arg_to_pointer_local(arg, rank1_as_scalar=false) -%}
    {%- if arg is indirect or (arg is gbl and arg is reduction) -%}
arg{{arg.id}}_local(lane, 1)
    {%- else -%}
{{arg_to_pointer(arg, rank1_as_scalar)}}
    {%- endif -%}
{%- endmacro -%}

{%- macro type_c(arg) -%}
    {%- if arg.access_type is instance(OP.Int) -%}
        int
    {%- elif arg.access_type is instance(OP.Bool) -%}
        bool
    {%- elif arg.access_type.size == 32 -%}
        float
    {%- else -%}
        double
    {%- endif -%}
{%- endmacro -%}

{% set vectorise = target.config.vectorise.enable and lh.kernel not in target.config.vectorise.blacklist %}

module op2_k{{kernel_idx}}

    use iso_c_binding
    use omp_lib

    use op2_fortran_declarations
    use op2_fortran_rt_support

    use op2_consts

    implicit none

    private
    public :: {{lh.kernel}}_host

contains

{{kernel_func}}

subroutine {{lh.kernel}}_wrapper2( &
{% for dat in lh.dats %}
    dat{{dat.id}}, &
{% endfor %}
{% for map in lh.maps %}
    map{{map.id}}, &
{% endfor %}
{% for arg in lh.args|gbl %}
    gbl{{arg.id}}, &
{% endfor %}
    start, &
    end &
)
    implicit none

    ! parameters
{% for dat in lh.dats %}
    {{dat.typ}}, dimension({{dat.dim}}, *) :: dat{{dat.id}}{{"\n" if loop.last}}
{% endfor %}
{% for map in lh.maps %}
    integer(4), dimension(:, :) :: map{{map.id}}{{"\n" if loop.last}}
{% endfor %}
{% for arg in lh.args|gbl %}
    {{arg.typ}}, dimension({{arg.dim}}) :: gbl{{arg.id}}{{"\n" if loop.last}}
{% endfor %}
    integer(4) :: start, end

    ! locals
    integer(4) :: n
{% if vectorise %}
    integer(4) :: block, lane, d

    {% for arg in lh.args|indirect %}
    {{lh.dat(arg).typ}}, dimension(SIMD_LEN, {{lh.dat(arg).dim}}) :: arg{{arg.id}}_local
    {% endfor %}
    {% for arg in lh.args|gbl|reduction %}
    {{arg.typ}}, dimension(SIMD_LEN, {{arg.dim}}) :: arg{{arg.id}}_local
    {% endfor %}

    block = start
    do while (block + SIMD_LEN <= end)
    {% for arg in lh.args|inc if arg is not direct %}
        arg{{arg.id}}_local = 0
    {% endfor %}

        do lane = 1, SIMD_LEN
            n = block + lane - 1

    {% for arg in lh.args|indirect if arg is read or arg is read_write %}
            arg{{arg.id}}_local(lane, :) = {{arg_to_pointer(arg)}}
    {% endfor %}
    {% for arg in lh.args|gbl|reduction if arg is not inc %}
            arg{{arg.id}}_local(lane, :) = {{arg_to_pointer(arg)}}
    {% endfor %}
        end do

        !$omp simd
        do lane = 1, SIMD_LEN
            n = block + lane - 1

            call {{lh.kernel}}_simd( &
    {% for arg in lh.args %}
                {{arg_to_pointer_local(arg, rank1_as_scalar=true)}}{{"," if not loop.last}} &
    {% endfor %}
            )
        end do

        do lane = 1, SIMD_LEN
            n = block + lane - 1

    {% for arg in lh.args|indirect if arg is not read %}
            {{arg_to_pointer(arg)}} = {{"%s + " % arg_to_pointer(arg) if arg is inc}}arg{{arg.id}}_local(lane, :)
    {% endfor %}
    {% for arg in lh.args|gbl|reduction %}
        {% if arg is inc %}
            {{arg_to_pointer(arg)}} = {{arg_to_pointer(arg)}} + arg{{arg.id}}_local(lane, :)
        {% else %}
            {{arg_to_pointer(arg)}} = {{arg.access_type.name-}}
                ({{arg_to_pointer(arg)}}, arg{{arg.id}}_local(lane, :))
        {% endif %}
    {% endfor %}
        end do

        block = block + SIMD_LEN
    end do

    do n = block, end
        call {{lh.kernel}}( &
    {% for arg in lh.args %}
            {{arg_to_pointer(arg, rank1_as_scalar=true)}}{{"," if not loop.last}} &
    {% endfor %}
        )
    end do
{% else %}
    do n = start, end
        call {{lh.kernel}}( &
    {% for arg in lh.args %}
            {{arg_to_pointer(arg, rank1_as_scalar=true)}}{{"," if not loop.last}} &
    {% endfor %}
        )
    end do
{% endif %}
end subroutine

subroutine {{lh.kernel}}_wrapper( &
    name, &
{% for dat in lh.dats %}
    dat{{dat.id}}, &
{% endfor %}
{% for map in lh.maps %}
    map{{map.id}}, &
{% endfor %}
{% for arg in lh.args|gbl %}
    gbl{{arg.id}}, &
{% endfor %}
    set, &
    args, &
    num_dats_indirect, &
    dats_indirect &
)
    implicit none

    ! parameters
    character(kind=c_char, len=*) :: name

{% for dat in lh.dats %}
    {{dat.typ}}, dimension({{dat.dim}}, *) :: dat{{dat.id}}{{"\n" if loop.last}}
{% endfor %}
{% for map in lh.maps %}
    integer(4), dimension(:, :) :: map{{map.id}}{{"\n" if loop.last}}
{% endfor %}
{% for arg in lh.args|gbl %}
    {{arg.typ}}, dimension({{arg.dim}}) :: gbl{{arg.id}}{{"\n" if loop.last}}
{% endfor %}
    type(op_set) :: set
    type(op_arg), dimension({{lh.args|length}}) :: args

    integer(4) :: num_dats_indirect
    integer(4), dimension({{lh.args|length}}) :: dats_indirect

    ! locals
    integer(4) :: thread, start, end, n
    integer(4) :: num_threads

{% if lh is indirect %}
    integer(4) :: part_size, col, block_idx, block_offset, num_blocks, block_id, num_elem, offset

    type(op_plan), pointer :: plan
    integer(4), dimension(:), pointer :: plan_ncolblk, plan_blkmap, plan_nelems, plan_offset
{% endif %}

{% for arg in lh.args|gbl|reduction %}
    {{arg.typ}}, dimension(:), allocatable :: gbl{{arg.id}}_temp{{"\n" if loop.last}}
{% endfor %}
{% if lh is indirect %}
#ifdef OP_PART_SIZE_{{kernel_idx}}
    part_size = OP_PART_SIZE_{{kernel_idx}}
#else
    part_size = 0
#endif

    plan => fortranplancaller( &
        name // c_null_char, &
        set%setcptr, &
        part_size, &
        size(args), &
        args, &
        num_dats_indirect, &
        dats_indirect, &
        2 &
    )

    call c_f_pointer(plan%ncolblk, plan_ncolblk, (/ plan%ncolors /))
    call c_f_pointer(plan%blkmap, plan_blkmap, (/ plan%nblocks /))
    call c_f_pointer(plan%nelems, plan_nelems, (/ plan%nblocks /))
    call c_f_pointer(plan%offset, plan_offset, (/ plan%nblocks /))

{% endif %}
{% if lh is direct or lh.args|gbl|reduction|length > 0 %}
    num_threads = omp_get_max_threads()

{% endif %}
{% for arg in lh.args|gbl|reduction %}
    allocate(gbl{{arg.id}}_temp(num_threads * {{arg.dim|round_up(64)}}))
    {% if arg is inc %}
    gbl{{arg.id}}_temp = 0
    {% else %}

    do thread = 1, num_threads
        start = (thread - 1) * {{arg.dim|round_up(64)}} + 1
        gbl{{arg.id}}_temp(start : start + {{arg.dim - 1}}) = gbl{{arg.id}}
    end do
    {% endif %}

{% endfor %}
{% if lh is direct %}
    !$omp parallel do private(thread, start, end, n)
    do thread = 1, num_threads
        start = (set%setptr%size * (thread - 1)) / num_threads
        end = (set%setptr%size * thread) / num_threads - 1

        call {{lh.kernel}}_wrapper2( &
    {% for dat in lh.dats %}
            dat{{dat.id}}, &
    {% endfor %}
    {% for arg in lh.args|gbl %}
        {% if arg is reduction %}
            gbl{{arg.id}}_temp(omp_get_thread_num() * {{arg.dim|round_up(64)}} + 1), &
        {% else %}
            gbl{{arg.id}}, &
        {% endif %}
    {% endfor %}
            start, &
            end &
        )
    end do
{% for arg in lh.args|gbl|reduction %}

    do thread = 1, num_threads
        start = (thread - 1) * {{arg.dim|round_up(64)}} + 1
    {% if arg is inc %}
        gbl{{arg.id}} = gbl{{arg.id}} + gbl{{arg.id}}_temp(start : start + {{arg.dim - 1}})
    {% else %}
        gbl{{arg.id}} = {{arg.access_type.name-}}
            (gbl{{arg.id}}, gbl{{arg.id}}_temp(start : start + {{arg.dim - 1}}))
    {% endif %}
    end do
{% endfor %}
{% else %}
    block_offset = 0
    do col = 1, plan%ncolors
        if (col == plan%ncolors_core + 1) then
            call op_mpi_wait_all(size(args), args)
        end if

        num_blocks = plan_ncolblk(col)

        !$omp parallel do private(thread, block_idx, block_id, num_elem, offset, n)
        do block_idx = 1, num_blocks
            thread = omp_get_thread_num() + 1

            block_id = plan_blkmap(block_idx + block_offset) + 1
            num_elem = plan_nelems(block_id)
            offset = plan_offset(block_id)

            call {{lh.kernel}}_wrapper2( &
    {% for dat in lh.dats %}
                dat{{dat.id}}, &
    {% endfor %}
    {% for map in lh.maps %}
                map{{map.id}}, &
    {% endfor %}
    {% for arg in lh.args|gbl %}
        {% if arg is reduction %}
                gbl{{arg.id}}_temp(omp_get_thread_num() * {{arg.dim|round_up(64)}} + 1), &
        {% else %}
                gbl{{arg.id}}, &
        {% endif %}
    {% endfor %}
                offset, &
                offset + num_elem - 1 &
            )
        end do

        block_offset = block_offset + num_blocks
    {% if lh.args|gbl|reduction|length > 0 %}

        if (col /= plan%ncolors_owned) then
            cycle
        end if
    {% endif %}
    {% for arg in lh.args|gbl|reduction %}

        do thread = 1, num_threads
            start = (thread - 1) * {{arg.dim|round_up(64)}} + 1
        {% if arg is inc %}
            gbl{{arg.id}} = gbl{{arg.id}} + gbl{{arg.id}}_temp(start : start + {{arg.dim - 1}})
        {% else %}
            gbl{{arg.id}} = {{arg.access_type.name-}}
                (gbl{{arg.id}}, gbl{{arg.id}}_temp(start : start + {{arg.dim - 1}}))
        {% endif %}
        end do
    {% endfor %}
    end do
{% endif %}
end subroutine

subroutine {{lh.kernel}}_host( &
    name, &
    set, &
{% for arg in lh.args %}
    arg{{arg.id}}{{"," if not loop.last}} &
{% endfor %}
)
    implicit none

    ! parameters
    character(kind=c_char, len=*) :: name
    type(op_set) :: set

{% for arg in lh.args %}
    type(op_arg) :: arg{{arg.id}}
{% endfor %}

    ! locals
    type(op_arg), dimension({{lh.args|length}}) :: args

    integer(4) :: num_dats_indirect
    integer(4), dimension({{lh.args|length}}) :: dats_indirect

    integer(4) :: set_size

{% for dat in lh.dats %}
    {{dat.typ}}, pointer, dimension(:, :) :: dat{{dat.id}}{{"\n" if loop.last}}
{% endfor %}
{% for map in lh.maps %}
    integer(4), pointer, dimension(:, :) :: map{{map.id}}{{"\n" if loop.last}}
{% endfor %}
{% for arg in lh.args|gbl %}
    {{arg.typ}}, pointer, dimension(:) :: gbl{{arg.id}}{{"\n" if loop.last}}
{% endfor %}
    real(8) :: start_time, end_time
    real(4) :: transfer

{% for arg in lh.args %}
    args({{loop.index}}) = arg{{arg.id}}
{% endfor %}

    num_dats_indirect = {{lh.dats|indirect(lh)|length}}
    dats_indirect = (/
    {%- for arg in lh.args -%}
        {{lh.dats|indirect(lh)|index(lh.dat(arg)) if arg is indirect else "-1"}}
        {{-", " if not loop.last}}
    {%- endfor -%}
    /)

    call op_timers_core(start_time)
    set_size = op_mpi_halo_exchanges(set%setcptr, size(args), args)

{% for dat in lh.dats %}
    call c_f_pointer(arg{{dat.arg_id}}%data, dat{{dat.id}}, (/{{dat.dim}}, getsetsizefromoparg(arg{{dat.arg_id}})/))
        {{-"\n" if loop.last}}
{% endfor %}
{% for map in lh.maps %}
    call c_f_pointer(arg{{map.arg_id}}%map_data, map{{map.id}}, (/getmapdimfromoparg(arg{{map.arg_id}}), set%setptr%size/))
        {{-"\n" if loop.last}}
{% endfor %}
{% for arg in lh.args|gbl %}
    call c_f_pointer(arg{{arg.id}}%data, gbl{{arg.id}}, (/{{arg.dim}}/)){{"\n" if loop.last}}
{% endfor %}
    call {{lh.kernel}}_wrapper( &
        name, &
{% for dat in lh.dats %}
        dat{{dat.id}}, &
{% endfor %}
{% for map in lh.maps %}
        map{{map.id}}, &
{% endfor %}
{% for arg in lh.args|gbl %}
        gbl{{arg.id}}, &
{% endfor %}
        set, &
        args, &
        num_dats_indirect, &
        dats_indirect &
    )

    if ((set_size .eq. 0) .or. (set_size .eq. set%setptr%core_size)) then
        call op_mpi_wait_all(size(args), args)
    end if

{% for arg in lh.args|gbl|reduction %}
    call op_mpi_reduce_{{arg.typ.__repr__()}}(arg{{arg.id}}, arg{{arg.id}}%data){{"\n" if loop.last}}
{% endfor %}
    call op_mpi_set_dirtybit(size(args), args)
    call op_timers_core(end_time)

    ! todo: review kernel transfer calculation
    transfer = 0.0

    call setkerneltime({{kernel_idx}}, name // c_null_char, end_time - start_time, transfer, 0.0, 1)
end subroutine

end module
