#define UNUSED(x) if (.false.) print *, SHAPE(x)

module op2_consts

    use cudafor

    implicit none

    {% for const in app.consts() %}
    {{const.typ}}{{(", dimension(%d)" % const.dim) if const.dim > 1}} :: op2_const_{{const.ptr}}
    {{const.typ}}, constant{{(", dimension(%d)" % const.dim) if const.dim > 1}} :: op2_const_{{const.ptr}}_d

    {% endfor %}
contains

    {% for const in app.consts() %}
    subroutine op_decl_const_{{const.ptr}}(ptr, dim)
        {{const.typ}}{{(", dimension(%d)" % const.dim) if const.dim > 1}} :: ptr
        integer(4) :: dim

        {% if const.dim > 1 %}
        integer(4) :: d

        do d = 1, dim
            op2_const_{{const.ptr}}(d) = ptr(d)
        end do
        {% else %}
        UNUSED(dim)

        op2_const_{{const.ptr}} = ptr
        {% endif %}
    end subroutine

    subroutine op_upload_const_cuda_{{const.ptr}}()
        op2_const_{{const.ptr}}_d = op2_const_{{const.ptr}}
    end subroutine

    {% endfor %}
end module
