
cuda:
	$(FC) $(OPT) $(OPT_CUDA) $(FMODS)/cuda $(FMODS) $(FLINK) -DOP2_WITH_CUDAFOR \
		constants.F90 input.F90 airfoil_seqfun.F90 cudaConfigurationParams.F95 \
		{{ source_paths | join(' ') }} \
    -o airfoil_cuda -lop2_for_cuda