#define UNUSED(x) if (.false.) print *, SHAPE(x)

module op2_kernels
    use cudafor
    use iso_c_binding

    use op2_fortran_declarations
    use op2_fortran_rt_support
    use cudaconfigurationparams

    implicit none

    {% for const in app.consts() %}
    {{const.typ}}{{(", dimension(%d)" % const.dim) if const.dim > 1}} :: op2_const_{{const.ptr}}
    {{const.typ}}, constant{{(", dimension(%d)" % const.dim) if const.dim > 1}} :: op2_const_{{const.ptr}}_d

    {% endfor %}
    {% for dat in app.dats()|soa %}
    integer(4) :: op2_dat_{{dat.ptr}}_stride
    integer(4), constant :: op2_dat_{{dat.ptr}}_stride_d

    {% endfor %}
contains

{% for const in app.consts() %}
    subroutine op_decl_const_{{const.ptr}}(ptr, dim)
        {{const.typ}}{{(", dimension(%d)" % const.dim) if const.dim > 1}} :: ptr
        integer(4) :: dim

    {% if const.dim > 1 %}
        integer(4) :: d

        do d = 1, dim
            op2_const_{{const.ptr}}(d) = ptr(d)
            op2_const_{{const.ptr}}_d(d) = ptr(d)
        end do
    {% else %}
        UNUSED(dim)

        op2_const_{{const.ptr}} = ptr
        op2_const_{{const.ptr}}_d = ptr
    {% endif %}
    end subroutine

{% endfor %}
{% for loop_ in app.loops() %}
    include "{{loop_.kernel}}_kernel.inc"{{"\n" if loop.last}}
{% endfor %}
end module
