{% extends "cpp/loop_host.hpp.jinja" %}

{% block host_prologue_halo_exchange %}
int set_size = op_mpi_halo_exchanges{{"_grouped" if opt.config.grouped-}}
    (set, num_args_expanded, args_expanded{{", 1 // device" if opt.config.grouped}});
{% endblock %}
