{%- macro variant_str() -%}
    {%- if lh is direct -%}
Direct
    {%- else -%}
Indirect
    {%- endif -%}
{%- endmacro -%}

{%- macro arg_dim(arg) -%}
    {%- if (arg is gbl or arg is info) and arg.dim is not none -%}
{{arg.dim}}
    {%- elif arg is dat and lh.dat(arg).dim is not none -%}
{{lh.dat(arg).dim}}
    {%- else -%}
arg{{arg.id}}.dim
    {%- endif -%}
{%- endmacro -%}

{%- macro scatter_map_idx(arg) -%}
    {%- if arg is dat and arg.map_idx is not none and arg.map_idx >= 0 -%}
{{arg.map_idx}}
    {%- else -%}
0
    {%- endif -%}
{%- endmacro -%}

{%- macro arg_to_pointer(arg) -%}
    {%- if arg is dat -%}
({{lh.dat(arg).typ.c()}} *)arg{{arg.id}}.data + scatter_map[0] * {{arg_dim(arg)}}
    {%- elif arg is gbl or arg is info -%}
({{arg.typ.c()}} *)arg{{arg.id}}.data
    {%- elif arg is idx -%}
&scatter_map[{{arg.map_idx if arg.map_idx is not none and arg.map_idx >= 0 else 0}}]
    {%- endif -%}
{%- endmacro -%}

#include <op_lib_cpp.h>
#include <op_profile.h>

#include <cstdint>
#include <cmath>
#include <cstdio>

namespace op2_m_{{lh.name}}{{variant}} {

{{kernel_func}}}


void op_par_scatter_{{lh.name}}(
    op_buff data_buff,
    op_buff map_buff,
    const char* name,
{% for arg in lh.args %}
    op_arg arg{{arg.id}}{{"," if not loop.last}}
{% endfor %}
) {
    int n_args = {{lh.args|length}};
    op_arg args[{{lh.args|length}}];

{% for arg in lh.args %}
    args[{{loop.index0}}] = arg{{arg.id}};
{% endfor %}

    op_profile_enter_kernel("{{lh.name}}", "seq", "{{variant_str()}}");

    op_profile_enter("MPI Exchanges");
    // int n_exec = op_mpi_halo_exchanges(set, n_args, args);

    if (data_buff->dirty_hd == 2)
        op_download_buff(data_buff);
    if (map_buff->dirty_hd == 2)
        op_download_buff(map_buff);

{% for arg in lh.args|dat|read %}
    if (arg{{arg.id}}.dat->dirty_hd == 2)
        op_download_dat(arg{{arg.id}}.dat);
{% endfor %}

    op_profile_next("Computation");

    for (int n = 0; n < data_buff->count; ++n) {
        {{lh.data_buff.typ.c()}} *scatter_data = ({{lh.data_buff.typ.c()}} *)data_buff->data + n * data_buff->dim;
        int *scatter_map = (int *)map_buff->data + n;

        op2_m_{{lh.name}}{{variant}}::{{lh.kernel}}(
            scatter_data{{"," if lh.args|length > 0}}
{% for arg in lh.args %}
            {{arg_to_pointer(arg)}}{{"," if not loop.last}}
{% endfor %}
        );
    }

{% for arg in lh.args|dat|reject("read") %}
    arg{{arg.id}}.dat->dirty_hd = 1;
{% endfor %}

    op_profile_exit();
}
