{% if target.name == "c_hip" %}
#include "hydra_const_list_c_hip.hip.h"
{% else %}
#include "hydra_const_list_c_cuda.cuh"
{% endif %}

#define INCBIN_STYLE INCBIN_STYLE_SNAKE
#define INCBIN_PREFIX
#include <extern/incbin.h>

{% set tag = range(1000000000, 9999999999) | random %}

#define OP_F2C_PRELUDE OP_F2C_PRELUDE_{{tag}}
#define OP_F2C_PARAMS OP_F2C_PARAMS_{{tag}}

#define OP_F2C_PRELUDE_DATA OP_F2C_PRELUDE_{{tag}}_data
#define OP_F2C_PARAMS_DATA OP_F2C_PARAMS_{{tag}}_data

INCTXT(OP_F2C_PRELUDE, "op_f2c_prelude.h");
INCTXT(OP_F2C_PARAMS, "hydra_const_list_params.h");

#include <op_f2c_prelude.h>
#include <op_f2c_helpers.h>

#include <op_lib_cpp.h>
#include <op_timing2.h>

#include <cstdint>
#include <cmath>
#include <cstdio>

namespace f2c = op::f2c;

extern "C" {

bool prepareDeviceGbls(op_arg *args, int nargs, int max_threads);
void processDeviceGbls(op_arg *args, int nargs, int nthreads, int max_threads);
int getBlockLimit(op_arg *args, int nargs, int block_size, const char *name);
void setGblIncAtomic(bool enable);

}

{% for loop_, _ in app.loops() if not loop_.fallback %}
#include "{{loop_.name}}_kernel_aux1.{{"hip.h" if target.name == "c_hip" else "cuh"}}"
{% endfor %}
